.sectionContent {
    width: 100%;
    height: 100vh;
    
    top: 0;
      
    background-image: url(../public/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainMyHeader {
    top: 0; right: 0; left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;

}  
.mainMyHeader h1 {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 700;
color: orange;
font-size: 2.5em;
padding: 30px;

}
.contentDiv {
    width: 650px;
    
    margin: auto;
    padding-top: 60px;
    background-color: hsl(208, 100%, 97% , 0.4);
    min-height: max-content;
    padding-bottom: 15px;
    border-radius: 12px;
padding: 15px;
}
.btns {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1pc;

}
.btns button {
    padding: 10px 20px;
    font-weight: 600;
    font-family:  sans-serif;
    /* border-radius: 12px; */
    border: 0;
    font-size: 1.2em;
    color: rgb(12, 10, 10);
    background-color: rgb(217, 217, 217);
    border: 1px solid black;
}
.btns button:hover {
    gap: 8px;
}
@media (max-width:715px) {
    
.contentDiv {
    width: 90%;
padding-top: 50px;
padding: 10px;
}


}
@media (max-width:598px) {
.contentDiv {
    margin-top: 50px;
}
.mainMyHeader h2 {
    padding-top: 20px;
}
}